job_workflow_automation (2).json
{
  "name": "job_workflow_automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        -144
      ],
      "id": "83c8ecc8-9b75-46ea-86a4-6efd778e2ae2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search-v2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "AI Engineer remote"
            },
            {
              "name": "num_pages",
              "value": "20"
            },
            {
              "name": "country",
              "value": "us"
            },
            {
              "name": "date_posted",
              "value": "week"
            },
            {
              "name": "work_from_home",
              "value": "true"
            },
            {
              "name": "employment_types",
              "value": "FULLTIME"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "c2d2c48804msh246abe90ab9d997p1feb03jsn0bb151698c5e"
            },
            {
              "name": "x-rapidapi-host",
              "value": "jsearch.p.rapidapi.com"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -576,
        -144
      ],
      "id": "a0278e4b-7ee2-4c3b-a223-28d23748774d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        496,
        -512
      ],
      "id": "cb16d040-1865-4bdf-a95c-4752c471d245",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\n\n// Jobs are nested at json.data.jobs\nconst jobs = input.flatMap(item => {\n  if (item.json?.data?.jobs && Array.isArray(item.json.data.jobs)) {\n    return item.json.data.jobs;\n  }\n  return [];\n});\n\nconst staffingAgencies = [\n  'synergisticit', 'entegee', 'akkodis', 'lensa', 'bebee',\n  'jobot', 'cybercoders', 'kforce', 'randstad', 'nastech',\n  'hirenixa', 'hirequill', 'wfhverse', 'wfhforgeon', 'gigpro',\n  'novexwork', 'staffing', 'recruiting'\n];\n\nconst filtered = jobs\n  .filter(job => job.job_employment_types?.includes('FULLTIME'))\n  .filter(job => job.job_is_remote === true)\n  .filter(job => {\n    const company = job.employer_name?.toLowerCase() || '';\n    return !staffingAgencies.some(agency => company.includes(agency));\n  })\n  .map(job => ({\n    title: job.job_title,\n    company: job.employer_name,\n    description: job.job_description?.slice(0, 500) || '',\n    apply_link: job.job_apply_link,\n    posted: job.job_posted_at,\n    salary: job.job_salary_string || 'Not listed'\n  }));\n\nreturn filtered.map(job => ({ json: job }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -144
      ],
      "id": "22587b80-6425-436c-9b1c-82c55fc094c0",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const aiItems = $input.all();\nconst originalItems = $('Code in JavaScript').all();\n\nconst scored = aiItems\n  .map((item, index) => {\n    try {\n      const text = item.json.output?.[0]?.content?.[0]?.text || '';\n      const parsed = JSON.parse(text);\n      const original = originalItems[index]?.json || {};\n      \n      return {\n        title: original.title,\n        company: original.company,\n        apply_link: original.apply_link,\n        salary: original.salary,\n        posted: original.posted,\n        description: original.description,\n        score: parsed.score,\n        reason: parsed.reason\n      };\n    } catch {\n      return { score: 0, reason: 'parse error' };\n    }\n  })\n  .filter(job => job.score >= 7)\n  .sort((a, b) => b.score - a.score)\n  .slice(0, 15);\n\nreturn scored.map(job => ({ json: job }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -144
      ],
      "id": "1ef1ecde-dfd6-4360-bee3-68ff9cd388e1",
      "name": "Code in JavaScript1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Job Title: {{ $json.title }}\nCompany: {{ $json.company }}\nDescription: {{ $json.description }}\nApply Link: {{ $json.apply_link }}\nPosted: {{ $json.posted }}\nSalary: {{ $json.salary }}\n\nScore this job."
            },
            {
              "role": "system",
              "content": "You are a job scoring assistant.\n\nScore this job from 1-10 based on fit for this candidate:\n\nSkills: Python, SQL, RAG pipelines, LangChain, FastAPI, Flask, React, n8n, Make.com, Pinecone, PostgreSQL, AWS\nExperience: 2 years as AI Engineer at High Five Media. Built LLM systems, RAG pipelines, automation tools, HubSpot integrations, OCR tools, and AI chatbots. MS in Computer Science from University of Oklahoma.\nLevel: Junior to Mid (2-3 years experience)\nTarget roles: AI Engineer, AI Automation Engineer, Full Stack AI\nAvoid: \n- Roles requiring more than 5 years experience\n- Roles requiring PhD or advanced degree\n- Roles requiring security clearance\n- Internships\n- Staffing agencies\n\nScoring guide:\n- 9-10: Perfect match, 0-3 years required, strong skill overlap\n- 7-8: Good match, 3-5 years required, most skills match\n- 5-6: Partial match, some skills missing or slightly senior\n- Below 5: Poor fit, too senior, wrong skills, or requires clearance\n\nIMPORTANT: If a job requires 5+ years or 8+ years experience, score it below 5.\nReturn ONLY this exact format, no extra text, no markdown:\n{\"score\": 7, \"reason\": \"one sentence explanation\"}"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -128,
        -144
      ],
      "id": "dcc8078c-a773-488f-8e2c-c4c2f3a431d1",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "sendTo": "cchandralikhitha@gmail.com",
        "subject": "=🚀 Top AI Jobs - {{ $today.toLocaleString() }}",
        "message": "={{ $json.data.map((item, i) => `\n<div style=\"margin-bottom: 24px; padding: 16px; border: 1px solid #e0e0e0; border-radius: 8px; font-family: Arial, sans-serif;\">\n  <h3 style=\"margin: 0 0 8px 0; color: #1a1a1a;\">${i + 1}. ${item.title}</h3>\n  <p style=\"margin: 4px 0; color: #555;\">🏢 <strong>${item.company}</strong></p>\n  <p style=\"margin: 4px 0; color: #555;\">💰 ${item.salary || 'Not listed'}</p>\n  <p style=\"margin: 4px 0; color: #555;\">📅 ${item.posted || 'Unknown'}</p>\n  <p style=\"margin: 4px 0; color: #555;\">⭐ Score: <strong>${item.score}/10</strong></p>\n  <p style=\"margin: 4px 0; color: #555;\">💡 ${item.reason}</p>\n  <a href=\"${item.apply_link}\" style=\"display: inline-block; margin-top: 8px; padding: 8px 16px; background-color: #0066cc; color: white; text-decoration: none; border-radius: 4px;\">Apply Now</a>\n</div>\n`).join('') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        688,
        -144
      ],
      "id": "52ff5f42-8a2d-4c33-8653-4e1be22ff271",
      "name": "Send a message",
      "webhookId": "4d0d7dab-3376-440f-8acd-5551175bd8ca",
      "credentials": {
        "gmailOAuth2": {
          "id": "1rZMwuMR2hbUZX0A",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        -144
      ],
      "id": "82b93aec-946a-478f-a552-58586eb23f1b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xqxniQM_183phT77o4uFCEIp3rqq819T0UPX7PX2il0",
          "mode": "list",
          "cachedResultName": "Job List Applied",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xqxniQM_183phT77o4uFCEIp3rqq819T0UPX7PX2il0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xqxniQM_183phT77o4uFCEIp3rqq819T0UPX7PX2il0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "company": "={{ $json.company }}",
            "apply_link": "={{ $json.apply_link }}",
            "salary": "={{ $json.salary }}",
            "posted": "={{ $json.posted }}",
            "description": "={{ $json.description }}",
            "score": "={{ $json.score }}",
            "reason": "={{ $json.reason }}",
            "date": "={{ new Date().toDateString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "apply_link",
              "displayName": "apply_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "posted",
              "displayName": "posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        96
      ],
      "id": "193412c6-cd17-4bc9-8edf-71d4ef5a267a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GEuxKL2d0seBUXLk",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        96
      ],
      "id": "123ed044-8f7e-4532-83a7-84a509fcb579",
      "name": "Split Out"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-05-16T15:46:27.420-05:00",
          "Readable date": "May 16th 2026, 3:46:27 pm",
          "Readable time": "3:46:27 pm",
          "Day of week": "Saturday",
          "Year": "2026",
          "Month": "May",
          "Day of month": "16",
          "Hour": "15",
          "Minute": "46",
          "Second": "27",
          "Timezone": "America/Chicago (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c3afe5c0-88d5-455f-9690-227d499f5dd4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0a46c8a6d82515f9c71e86be3742f4ad04df68e879a6bf1042104a4b77d8a109"
  },
  "id": "QbPnlCPUqUBorr80",
  "tags": []
}